# Dependencies
node_modules/
package-lock.json

# Logs
logs/
*.log
npm-debug.log*

# Testing
coverage/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
**/.DS_Store

# Docker volumes
data/
